@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Caslon+Display&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #faf9fb;
  color: #1f1f1f;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.loader {
  border-top-color: #252016;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@theme {
  --font-subheading: "Libre Caslon Display", sans-serif;
  --font-heading: "Raleway", sans-serif;
  --font-base: "Lato", sans-serif;

  --color-primary: #b98801;
  --color-dark: #1f1f1f;
  --color-secondary: #eeeeee;
  --color-primary-hover: #5c5445;
  --color-primary-light: #ffffff;

  --color-text-primary: #1f1f1f;
  --color-text-secondary: #676767;
}

@layer base {
  h1 {
    @apply text-2xl md:text-3xl font-heading font-medium;
  }
  h2 {
    @apply text-lg font-heading;
  }
  h3 {
    @apply text-lg font-heading font-medium;
  }
  p {
    @apply font-base text-lg;
  }
  li:hover,
  a:hover {
    @apply scale-105;
  }
}

@layer components {
  .nav {
    @apply max-w-7xl mx-auto px-2 md:px-4 lg:px-8;
  }
  .container {
    @apply max-w-7xl mx-auto px-2 py-8 sm:py-12;
  }
  .navbar {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  .card {
    @apply transition-transform duration-300 overflow-hidden rounded-lg transform;
  }
  .card:hover {
    @apply scale-105 cursor-pointer;
  }
  .card-img {
    @apply w-full h-[200px] object-cover rounded-lg;
  }
  .logo {
    @apply text-xl font-medium font-heading;
  }
  .btn {
    @apply bg-primary text-white font-semibold font-heading py-2 px-4 cursor-pointer text-center;
  }
  .btn:hover {
    @apply bg-primary-hover;
  }
  .button:hover {
    @apply cursor-pointer;
  }
  .input {
    @apply border;
  }
}
