@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #ffffff;
  color: #1f1f1f;
  font-family: "Inter", sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.loader {
  border-top-color: #252016;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@layer base {
  h1 {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 500;
  }

  h2,
  h3,
  h4,
  p {
    font-family: "Inter", sans-serif;
    margin: 0;
  }

  .logo {
    font-family: "Bodoni Moda", serif;
    font-size: 1.5rem;
    font-weight: 600;
  }

  button {
    cursor: pointer;
  }

  li {
    list-style: none;
    font-weight: 300;
    letter-spacing: 0cap;
    font-weight: 400;
  }
}

.btn {
  color: black;
  background: white;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  border-radius: 8rem;
  transition: all 0.3s;
}

.btn:hover {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.nav,
.navbar {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.card {
  transition: transform 0.3s;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06), 0 8px 20px rgba(0, 0, 0, 0.12);
}
.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.input {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}
